@font-face {
    font-family: "badaboom" ;
    src: url(fuentes/badaboom_bb/BADABB__.TTF);
}
@font-face {
    font-family: "coolvetica";
    src: url(fuentes/coolvetica/coolvetica\ rg.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #70aac9;
}

header{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0E46A3;
    position: sticky;
    top: 0;
    z-index: 10;

    .header-nav-principal{

        width: 1250px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2,1fr);

        .nombre-marca{
            font-family: badaboom;
            font-size: 3.2rem;
            letter-spacing: 1px;
            text-shadow: 2px 2px 4px black;
        }

        .ícono{
            grid-area: 1/1/span 2;
            display: flex;
            margin-right: 60px;
            align-items: center;
        }
        .ul-items-principal{
            grid-area: 2/2/3;
            align-self: end;
        }
        .ul-header-nav-sesión{
            grid-area: 1/4/span 2;
            align-self: center;
            .li-nav-sesion{
                background-color: #70aac9;
                padding: 10px;
                border-radius: 10px;
                border-width: 0px 3px;
                border-style: solid;
                border-color: #D24545;
                #a-nav-sesion{
                    color: #0C0C0C;
                }

            }

        }

        .form-busqueda{
            grid-row: 1;
            grid-column: 2/3;
            align-self: end;
            display: flex;
            .input-buscador{ 
                font-family: "coolvetica";
                font-size: 1rem;
                background-color: #E1F7F5;
                height: 40px;
                width: 550px;
                padding-left: 15px;
                margin-right: 10px;
                border: 2px solid #0C0C0C;
                border-radius: 5px;
            }
            .boton-buscador{
                font-family: "coolvetica";
                font-size: 1rem;
                background-color: #E1F7F5;
                height: 40px;
                width: 90px;
                border: 2px solid #0C0C0C;
                border-radius: 5px;
            }
        }

    }

}




ul{
    display: flex;
}
& li{

    list-style: none;
    margin-right: 20px;
}
.sin-subrayado{
    font-family: "coolvetica";
    color: #E1F7F5;
    font-size: 20px;
    text-decoration: none;
    white-space: nowrap;
}
.sin-subrayado-footer{
    font-family: "coolvetica";
    color: #1F4068;
    font-size: 20px;
    text-decoration: none;
    white-space: nowrap;
    font-weight:700;
}


/* FOOTER */

footer{
    background-color: #E1F7F5;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* MAIN */

main{

    .main-estrenos{
        h2{
            font-family: "coolvetica";
            color: #0E46A3;
            margin: 20px;
            font-size: 2.5rem;
            font-weight: 700;
            text-align: center;
        }
        .containerPeliculas{
            padding-bottom: 30px;
            margin-left: 20PX;
            margin-right: 20px;
            overflow-x: scroll;
            overflow-y: hidden;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            .pelicula{
                margin-right: 20px;
                width: 200px;
                height: 300px;
                background-color: grey;
                border-radius: 10px;
                
                .imágen-peli{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 10px;
                }

            }

        }
    }
    .main-explorar{
        color: white;
        background: linear-gradient(to right top, #0000008a, #0000008a), url(imagenes/12.jpg);
        background-size: cover;
        background-position: center;
        height: 90vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
        
        .suscribite{
            padding: 15px;
            background-color: #D24545;
            border-radius: 15px;
            border: 1px solid #0E46A3;

            #a-suscribite{
                font-weight: 700;
                color: #1F4068;
            }
        }

        h1{
            font-family: badaboom;
            text-shadow: 3px 3px 5px black;
            letter-spacing: 4px;
            font-size: 7rem;
            font-weight: 700;
            margin-bottom: 10px;
        }

        h2{
        font-family: coolvetica;
        font-size: 2.5rem;
        font-weight: 400;
        margin-bottom: 35px;
        }

    }

    .prueba{
        .div-de-prueba{
            margin: 50px auto;
            padding: 30px;
            background: #5272F2;
            background-size: cover;
            width: 1200px;
            border-radius: 15px;
            border-width: 0 5px;
            border-style: solid;
            border-color: #D24545;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .div-de-prueba-h2{
                color: #0C0C0C;
                font-family: coolvetica;
                font-size: 2rem;
                font-weight: 700;
            }

            .contenedor-TOP4{
                margin-top: 20px;
                display: flex;
                gap: 35px;
                justify-content:space-evenly;

                .item-contenedor-top4{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .h3-top4{
                        background-color: #0C0C0C;
                        border-radius: 0 0 5px 5px;
                        padding: 3px 10px;
                        font-family: coolvetica;
                        font-size: 3rem;
                        font-weight: 700;
                        color: #D24545;
                    }
                    .pelicula-top4{
                        width: 250px;
                      height: 380px;
                      background-color: grey;
                      border-radius: 10px;
                      border: 7px solid #0C0C0C;

                        .imágen-peli-top4{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
    
            }



        }


    }


}