*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #0E46A3;
}

.login{
    display: flex;
    width: 1000px;
    margin: auto;
    height: 500px;
    background-color: #70aac9;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .inputs-registrarse{
        width: 200px;
        height: 25px;
        margin: 10px;
        border-radius: 10px;
    }
}

.error input:not(.check, .boton), .error select{
    border: 2px solid red;
}